.cart {
  display: flex;
  align-items: center;
  position: relative;
}
.wrapper_icon {
  position: relative;
}
.cart_icon {
  cursor: pointer;
}
.cart_total_price {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 18px;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .cart_total_price {
    display: none;
  } 
}